a {
    font-size: 2em;
}

body {
    background-color: beige;
}

h1 {
    color: blue;
}

.test {
    color: blueviolet;
}

#test-id {
    background: limegreen;
}

[data-them="dark"] {
    --color: #bbb;
    --color-accent: #fff;
    --color-bg: #333;
}

p {
    background-color: red;
    border: 5px solid limegreen;
}